@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.{js,ts,tsx}';

@theme {
    --color-brand: #33459b;
    --color-brand-dark: #1e2a6b;

    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* Dark mode support in v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Custom scrollbar hide */
body::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}
